<footer id="footer" class="footer">
    <div>
        <div>
            <h4>Telefonia Retrô</h4>
            <p>Preservando a história e a durabilidade dos aparelhos que marcaram época.</p>
        </div>
        <hr>
        <div>
            <h4>Atendimento</h4>
            <p>Número: +55 42 99975-1265</p>
            <p>E-Mail: suporte@telefoniaretro.com.br</p>
            <p>Atendimento On-line: 09h00 às 18h00</p>
        </div>
    </div>
    <div>
        <hr>
        <p>© 2026 Telefonia Retrô. Todos os direitos reservados.</p>
    </div>
</footer>