.article {
    font-family: Cambria;
    color: #ffffff;
    background-color: #0080ff;
    padding: 16px;
    margin-bottom: 16px;
    border: 4px solid #000000;
    border-radius: 12px;
}

.article img {
    height: 300px;
    border: 4px solid #000000;
    border-radius: 12px;
    box-shadow: 4px 4px 0px #000000;
}

.card {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;
}

.card-info h3 {
    margin-top: 0;
    margin-bottom: 8px;
}

.card-info p {
    margin: 0;
    line-height: 1.5;
}