<section id="article" class="article">
    <h2>Nosso Catalógo</h2>
    <div class="device-grid">
        @for (device of devices; track device.title) {
            <div class="card">
                <img [src]="device.photo" [alt]="device.title" class="device-photo">
                <div class="card-info">
                    <h3 class="device-title">{{ device.title }}</h3>
                    <p class="device-description">{{ device.description }}</p>
                    <button class="card-button">Verificar Especificações do Aparelho</button>
                </div>
            </div>
        }
    </div>
</section>
