<section id="article" class="article">
    <h2><strong>CATÁLOGO</strong></h2>
    <div class="device-grid">
        @for (device of devices; track device.title) {
            <article class="card">
                <img [src]="device.photo" [alt]="device.title" class="device-photo">
                <div class="card-info">
                    <h3 class="device-title">{{ device.title }}</h3>
                    <p class="device-description">{{ device.description }}</p>
                    <button class="card-button" (click)="openSpecs(device)">
                        VERIFICAR ESPECIFICAÇÕES DO APARELHO
                    </button>
                </div>
            </article>
        }
    </div>

    @if (selectedDevice) {
        <div class="modal-overlay" (click)="closeSpecs()">
            <div class="modal-content" (click)="$event.stopPropagation()">
                <div class="modal-header">
                    <h3>Ficha Técnica: {{ selectedDevice.title }}</h3>
                </div>

                <div class="modal-body">
                    <img [src]="selectedDevice.photo" [alt]="selectedDevice.title" class="modal-photo">

                    <ul class="specs-list">
                        <li><strong>Ano de Lançamento:</strong> {{ selectedDevice.specs.year }}</li>
                        <li><strong>Dimensões:</strong> {{ selectedDevice.specs.dimensions }}</li>
                        <li><strong>Peso:</strong> {{ selectedDevice.specs.weight }}</li>
                        <li><strong>Tela:</strong> {{ selectedDevice.specs.screen }}</li>
                        <li><strong>Bateria:</strong> {{ selectedDevice.specs.battery }}</li>
                        <li><strong>Câmera:</strong> {{ selectedDevice.specs.camera }}</li>
                        <li><strong>Armazenamento:</strong> {{ selectedDevice.specs.storage }}</li>
                        <li><strong>Destaques:</strong> {{ selectedDevice.specs.highlights }}</li>
                        <li><hr></li>
                        <li><strong>Preço:</strong> {{ selectedDevice.specs.price }}</li>
                        <li><strong>Disponíbilidade:</strong> {{ selectedDevice.specs.availability }}</li>
                        <li><strong>Desconto:</strong> {{ selectedDevice.specs.descont }}</li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <button class="card-button modal-btn-close" (click)="closeSpecs()">Fechar</button>
                </div>
            </div>
        </div>
    }
</section>

